/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* variables css */
:root {
    --header-height: 45px;

    /* color */
    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-light: #929191;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;

    /* font dan typography */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 16px;
    --h2-font-size: 14px;
    --h3-font-size: 13px;
    --normal-font-size: 12px;
    --small-font-size: 10px;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* margin */
    --m-1: 5px;
    --m-2: 10px;
    --m-3: 15px;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* base */
*,
::before,
::after {
    box-sizing: border-box;
}

/* pdf */
.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}
.scale-cv .bd-container {
    max-width: 968px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}
/* end pdf */

html {
    scroll-behavior: smooth;
}

/* change theme light/dark */
.change-theme {
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    color: var(--text-color);
    font-size: var(--h2-font-size);
    cursor: pointer;
}
.change-theme:hover {
    color: var(--title-color);
}


/* download */
.generate-pdf {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    font-size: var(--h2-font-size);
    color: var(--text-color);
    cursor: pointer;
}
.generate-pdf:hover {
    color: var(--title-color);
}

/* body dark */
body.dark-theme {
    /* color */
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --text-color-light: #707070;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
}

/* classes */
body {
    margin: var(--header-height) 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1, h2, h3, ul, p, a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

img {
    max-width: 100%;
    height: auto;
}

/* class css */
.section {
    padding: 26px 5px;
}
.section__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: var(--m-3);
}

/* layout */
.bd-container {
    max-width: 968px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}
.bd-grid {
    display: grid;
    gap: 15px;
}
.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-sizing: 0 -1px 5px rgba(0, 0, 0, .1);
    transform: .3s;
}

/* nav */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.nav__toogle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__toogle {
    font-size: var(--h2-font-size);
    cursor: pointer;
}
.nav__item {
    text-align: center;
}
.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 15px;
}
.nav__link {
    display: flex;
    flex-direction: column;
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}
.nav__link:hover {
    color: var(--title-color);
}
.nav__icon {
    font-size: var(--h2-font-size);
    margin-bottom: var(--m-1);
}
@media screen and (max-width: 968px) {
    body {
        margin: 0 0 var(--header-height) 0;
    }
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 15px 10px;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: -10;
        transition: .5s;
    }
}

/* in file js */
.show-menu {
    bottom: var(--header-height);
}
li.active-link a{
    color: var(--title-color);
}

/* home */
.home {
    position: relative;
}
.home__container {
    gap: 15px;
}
.home__data {
    text-align: center;
}
.home__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    justify-self: center;
    margin-bottom: var(--m-1);
}
.home__img__qrcode__wa {
    width: 122px;
    height: 122px;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 0, 0, .1); */
    justify-self: center;
    margin-bottom: var(--m-1);
}
.home__title {
    font-size: var(--h1-font-size);
}
.home__profession {
    font-size: var(--normal-font-size);
    margin-top: -8px !important;
}
.home__address {
    gap: 10px;
}
.home__information {
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
.home__information p a {
    color: var(--text-color);
}
.home__information .icon__address{
    margin-top: -20px;
}
.home__icon {
    font-size: var(--h2-font-size);
    margin-right: 5px;
}

/* profile */
.profile__description {
    font-size: var(--normal-font-size);
    text-align: center;
}
.profile,
.education {
    margin-top: -25px !important;
}
/* education & Experience*/
.education__content,
.experience__content {
    display: flex;
}
.education__time, 
.experience__time {
    padding-right: 15px;
}
.education__rounder,
.experience__rounder {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--text-color-light);
}
.education__line,
.experience__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}
.education__title{
    font-size: var(--h3-font-size);
}
.experience__title {
    font-size: var(--h3-font-size);
}
.education__data,
.experience__data {
    gap: 5px;
}
.education__studies,
.experience__company {
    font-size: var(--normal-font-size);
    color: var(--title-color);
}
.education__year,
xperience__description {
    font-size: var(--normal-font-size);
}


/* skills */
.competency,
.skills{
    margin-top: -20px !important;
}
.languages{
    margin-top: -20px !important;
}
.competency__content,
.skills__content{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.competency__name,
.skills__name,
.languages__name,
.experience__name {
    display: flex;
    align-items: center;
    margin-bottom: var(--m-1);
}
.competency__circle,
.skills__circle,
.languages__circle,
.experience__circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--text-color);
}
.languages__content ul li p{
    margin-left: -5px;
    color : var(--text-color); 
}
.languages__content ul li p span,
.competency__content ul li p span {
    font-size: 10px; 
    color : var(--text-color-light); 
}

/* interests */
.interests__container {
    grid-template-columns: repeat(4, 1fr);
}
.interests__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}
.interests__icon {
    font-size: var(--h2-font-size);
    color: var(--text-color-light);
}

/* scrolltop */
.scrolltop {
    position: fixed;
    right: 10px;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--container-color-alt);
    border-radius: 5px;
    z-index: var(--z-tooltip);
    transition: all .5s ease;
    visibility: hidden;
}
.scrolltop__icon {
    font-size: var(--h2-font-size);
    color: var(--text-color);
}
/* scrolltopjs */
.show-scroll {
    visibility: visible;
    bottom: 50px;
    transition: all .5s ease .0s;
}

/* media queries */
/* small screen */
@media screen and (max-width: 320px) {
    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

/* dekstop screen */
@media screen and (min-width: 968px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .l-header,
    .scrolltop {
        display: none;
    }
    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        justify-content: center;
        margin-left: -10px;
        top: 0;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }
    .resume__left {
        background-color: var(--container-color-alt);
    }
    .resume__left,
    .resume__right {
        padding: 0 15px;
    }
    .generate-pdf {
        display: inline-block;
    }
    .section__title,
    .profile__description {
        font-size: var(--normal-font-size);
        text-align: initial;
    }
    .home__container {
        gap: 15px;
    }
    .home__button-movil {
        display: none;
    }
    .references__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .languages__content {
        grid-template-columns: repeat(2, 1fr);
    }
    .interests__container {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }
}
