/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* variables */
:root {
  /* color */
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --line-color: #929191;
  --side-right-background: #fafafa;
  --side-left-background: #f0efef;
  --body-background: #fcfcfc;
  --transition-speed: .5s ease;

  /* fonts*/
  --body-font: 'Poppins', sans-serif;
  --h1: 16px;
  --h2: 14px;
  --normal: 12px;
  --small: 10px;
}

/* change theme light/dark */
/* dark mode */
body.dark-mode {
  /* color */
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --line-color: #707070;
  --side-right-background: #212121;
  --side-left-background: #181616;
  --body-background: #2b2b2b;
  --transition-speed: all .5s ease;
}
.toggle-mode {
  position: absolute;
  right: 0;
  top: 15px;
  display: flex;
  color: var(--text-color);
  font-size: var(--h2);
  cursor: pointer;
}
.toggle-mode:hover {
  color: var(--title-color);
}
/* end mode */

/* base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal);
  background-color: var(--body-background);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* class */
.container {
  max-width: 968px;
  margin-left: 15px;
  margin-right: 15px;
}
.grid {
  display: grid;
  gap: 15px;
}

/* headerr*/
.header {
  position: relative;
  padding-top: 30px;
}

/* profile */
.profile_container {
  row-gap: 20px;
}
.profile_content {
  display: grid;
  text-align: center;
}
.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .1);
  display: grid;
  align-items: center;
  justify-self: center;
  margin-bottom: 10px;
}
.profile_name {
  font-size: var(--h1);
  font-weight: normal;
}
.profile_name span {
  font-size: var(--h1);
  color: var(--title-color);
  font-weight: bold;
}
.profile_profession {
  font-size: var(--h2);
  color: var(--text-color);
  margin-bottom: 10px;
}
.profile_social i {
  position: relative;
  justify-content: center;
  column-gap: 5px;
  font-size: 26px;
  color: var(--text-color);
  padding: 5px 5px;
  border-radius: 5px;
  padding-top: 20px;
}
.profile_description {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  padding-top: 20px;
}
.profile_info-number {
  font-size: var(--h2);
  margin-bottom: 5px;
}
.profile_info-description {
  font-size: var(--normal);
  color: var(--text-color);
}
.profile_cv{
  display: inline-block;
  align-items: center;
  font-size: var(--h2);
  background-color: var(--title-color);
  padding: 10px 10px;
  border-radius: 5px;
  margin: 20px;
}
.profile_cv a {
  color: var(--side-right-background);
}
.profile_contact i{
  font-size: var(--h1);
  padding: 10px 10px;
  background-color: var(--side-left-background);
  color: var(--text-color);
  margin: 5px;
  border-radius: 5px;
}
/* end profile */
/* end header */

/* main */
/* filter tab */
.filters_content {
  margin: 20px 0 20px;
  background-color: var(--side-left-background);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.filters_button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: var(--text-color);
  font-size: var(--normal);
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

/* project */
.projects_content{
  justify-items: center;
  row-gap: 50px;
}
.projects_card {
  position: relative;
  overflow: hidden;
}
.projects_img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  justify-items: center;
}
.projects_card_content {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  background-image: linear-gradient(transparent, var(--side-left-background));
  display: grid;
}
.projects_card:hover .projects_card_content {
  width: 400px;
  height: 100% auto;
  bottom: 0;
}
.projects_title {
  color: var(--text-color);
  font-size: var(--normal);
  margin-top: 230px;
}

/* skills */
.skills_content {
  row-gap: 30px;
  justify-items: center;
}
.skills_title {
  font-size: var(--h2);
  text-align: center;
  margin-bottom: 15px;
}
.skills_box {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.skills_group {
  display: grid;
  align-content: flex-start;
  row-gap: 10px;
}
.skills_data {
  display: flex;
  column-gap: 5px;
}
.skills_data i {
  font-size: var(--normal);
  color: var(--line-color);
}
.skills_name {
  font-size: var(--normal);
  font-weight: 500;
  line-height: 18px;
}
.skills_level {
  font-size: var(--normal);
}

/* Hide and show projects & skills */
.filters [data-content] {
  display: none;
}
.filters_active[data-content] {
  display: grid;
}
/* end main */

/* activate button filter */
.filter-tab-active {
  background-color: var(--body-background);
}

/* footer */
.footer_copy {
  display: block;
  margin: 25px 0 20px;
  text-align: center;
  font-size: var(--normal);
  color: var(--text-color-light);
}

/* breakpoint */
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    display: grid;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
  }
  .profile_buttons {
    flex-direction: column;
    row-gap: 10px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .header {
    position: relative;
    padding-top: 30px;
  }
  .profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, .1);
    display: grid;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
  }
  .filters_content {
    width: 400px;
    margin: 30px auto; 
    font-size: var(--h2);
  }
  .projects_content,
  .skills_content {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    font-size: var(--normal);
  }
}
@media screen and (max-width: 576px) {
  .header {
    position: relative;
    padding-top: 30px;
  }
  .profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, .1);
    display: grid;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 776px) {
  .header {
    position: relative;
    padding-top: 30px;
  }
  .profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    display: grid;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
  }
  .projects_content,
  .skills_content {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills_content {
    justify-content: center;
    column-gap: 30px;
  }
}
@media screen and (max-width: 776px) {
  .header {
    position: relative;
    padding-top: 30px;
  }
  .profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    display: grid;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .header {
    position: relative;
    padding-top: 30px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .change-theme {
    top: 25px;
    right: 25px;
  }
  .profile {
    padding-top: 40px;
  }
  .profile_img img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, .1);
      display: grid;
      align-items: flex-end;
      justify-self: center;
      place-items: center;
  }
  .footer_copy {
    margin: 45px 0 25px;
  }
}
