/* -- base -- */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
    /* color */
    --title-color: #0b0a0a;
    --text-color: #2e2e2e;
    --icon-color: #adadad;
    --side-right-background: #fafafa;
    --side-left-background: #f0efef;
    --body-background: #fcfcfc;
    --transition-speed: .5s ease;

    /* fonts*/
    --body-font: 'Poppins', sans-serif;
    --title: 14px;
    --normal: 12px;
    --small: 10px;
}

/* dark mode */
body.dark-mode {
    /* color */
    --title-color: #f2f2f2;
    --text-color: #c2c2c2;
    --icon-color: #adadad;
    --side-right-background: #212121;
    --side-left-background: #181616;
    --body-background: #2b2b2b;
    --transition-speed: all .5s ease;

    /* fonts*/
    --body-font: 'Poppins', sans-serif;
    --title: 14px;
    --normal: 12px;
    --small: 10px;
}

/* tag html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: var(--body-font);
    margin: 45px 0 45px 0;
    padding: 0;
    font-size: var(--normal);
    background-color: var(--body-background);
    color: var(--text-color);
    transition: var(--transition-speed);
}
h3, h4 {
    font-size: var(--title-color);
    color: var(--title-color);
}
ul, li, p, a, span {
    font-size: var(--normal);
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* -- end base -- */

/* -- toggle -- */
/* toggle mode */
.toggle-mode {
    position: absolute;
    top: -10px;
    right: 0;
    padding: 10px;
    display: flex;
    font-size: var(--normal);
    color: var(--text-color);
    cursor: pointer;
}
.toggle-mode:hover {
    color: var(--title-color);
}

/* togggle download */
.generate-pdf {
    display: none;
    position: absolute;
    top: -10px;
    left: 0;
    padding: 10px;
    font-size: var(--normal);
    color: var(--text-color);
    cursor: pointer;
}
.generate-pdf:hover {
    color: var(--title-color);
}

/* scale pdf */
.scale-cv .toggle-mode,
.scale-cv .generate-pdf {
    display: none;
}
/* -- end toggle -- */

/* -- header -- */
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-background);
    transform: all .3s ease;
    transition: var(--transition-speed);
}

/* nav */
.nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_logo,
.nav_toggle {
    color: var(--text-color);
    font-size: var(--normal);
    cursor: pointer;
    padding: 10px;
}
.nav_logo span{
    color: var(--title-color);
    font-size: var(--normal);
}
.nav_item {
    text-align: center;
}
.nav_list {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 15px;
}
.nav_link {
    display: flex;
    flex-direction: column;
    font-size: var(--normal);
    color: var(--text-color);
}
.nav_link:hover {
    color: var(--title-color);
}
.nav_icon {
    font-size: var(--normal);
}

/* in file js */
.show-menu {
    transition: var(--transition-speed);
}
li.active-link a{
    color: var(--title-color);
    font-weight: bold;
}
/* -- end header -- */

/* -- main -- */
section {
    /* edit size padding if there adding content of cv */
    padding: 15.5px 15px; 
}
.section_title {
    font-size: var(--title);
    color: var(--title-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: initial;
    margin-bottom: 10px;
}
.container {
    max-width: 968px;
    width: calc(100%);
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    /* gap: 5px; */
}
/* -- end main -- */

/* -- resume left -- */
.resume_left {
    padding: 10px 0 10px 0;
}

/* home */
.home {
    position: relative;
}
.home_container {
    gap: 5px;
}
.home_content {
    text-align: center;
}
.home_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--icon-color);
    justify-self: center;
}
.home_title {
    font-size: 15px;
    color: var(--text-color);
    margin-top: 10px;
}
.home_title span{
    font-size: var(--title);
    font-weight: bold;
    color: var(--title-color);
}
.home_profession {
    font-size: var(--normal);
    color: var(--title-color);
}
.home_img_qrcode_wa {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    justify-self: center;
    margin-top: 20px;
    border: 2px solid var(--icon-color);
}

/* contacts */
.contacts_container {
    gap: 5px;
}
.contacts_content {
    gap: 5px;
}
.contacts_name {
    display: flex;
    align-items: center;
    font-size: var(--normal);
    color: var(--text-color);
    padding: 2px;
}
.contacts_name a:hover {
    color: var(--title-color);
}
.contacts_name .address_icon {
    margin-top: -20px;
    font-size: var(--title);
    color: var(--text-color);
}
.contacts_icon {
    font-size: var(--normal);
    margin-right: 10px;
    color: var(--title-color);
}

/* profiles */
.profiles_container {
    gap: 5px;
}
.profiles_content {
    display: flex;
    font-size: var(--normal);
}
.profiles_description {
    font-size: var(--normal);
}

/* educations */
.educations_container {
    gap: 5px;
}
.educations_content {
    display: flex;
    font-size: var(--normal);
}
.educations_rounder {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--icon-color);
}
.educations_line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--icon-color);
    transform: translate(5px, 0);
}
.educations_title {
    font-size: var(--normal);
    color: var(--title-color);
    margin-top: -2px;
}
.educations_point {
    padding-right: 5px;
}
.educations_data {
    gap: 5px;
}
.educations_name {
    display: flex;
    font-size: var(--normal);
    color: var(--text-color);
    align-items: center;
    margin-bottom: 15px;
}

/* languages */
.languages_container {
    gap: 5px;
}
.languages_content {
    display: flex;
    font-size: var(--normal);
    grid-template-columns: repeat(2, max-content);
}
.languages_name {
    font-size: var(--normal);
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.languages_name i{
    display: inline-block;
    margin-right: 5px;
}
.languages_name span{
    font-size: var(--normal); 
    color : var(--text-color); 
}
.languages_name sub{
    font-size: var(--small); 
    color : var(--icon-color);
    margin-left: 5px;
}

/* interests */
.interests_container {
    grid-template-columns: repeat(4, max-content);
    gap: 5px;
}
.interests_content {
    display: flex;
    font-size: var(--normal);
    color: var(--text-color);
}
.interests_icon {
    font-size: var(--title);
    color: var(--title-color);
    margin-left: 10px;
}
.interests_name {
    font-size: var(--normal);
    color: var(--text-color);
    margin-right: 20px;
}
/* -- end resume left -- */

/* -- resume right -- */
.resume_right {
    padding: 10px 0 10px 0;
}

/* experiences */
.experiences_container {
    gap: 5px;
}
.experiences_content {
    display: flex;
    font-size: var(--normal);
}
.experiences_point {
    padding-right: 5px;
}
.experiences_rounder {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--icon-color);
}
.experiences_line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--icon-color);
    transform: translate(5px, 0);
}
.experiences_title {
    font-size: var(--normal);
    color: var(--title-color);
    margin-top: -2px;
}
.experiences_data {
    gap: 5px;
}
.experiences_place,
.experiences_project {
    font-size: var(--normal);
    color: var(--title-color);
}
.experiences_name {
    display: flex;
    padding: 2px;
    align-items: center;
}
.experiences_name i {
    margin-right: 10px;
}
.experiences_description {
    font-size: var(--normal);
    margin-bottom: 10px;
}

/* competences */
.competences_container {
    gap: 5px;
}
.competences_content{
    display: grid;
    font-size: var(--normal);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.competences_name {
    display: flex;
    padding: 2px;
    font-size: var(--normal);
    align-items: center;
}
.competences_name i {
    margin-right: 10px;
}
.competences_name span {
    font-size: var(--normal); 
    color : var(--text-color); 
}
.competences_name sub {
    font-size: var(--small); 
    color : var(--icon-color);
    margin-left: 5px;
}

/* managements */
.managements_container {
    gap: 5px;
}
.managements_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.managements_name{
    display: flex;
    padding: 2px;
    font-size: var(--normal);
    align-items: center;
}
.managements_name i{
    display: inline-block;
    margin-right: 10px;
}
/* -- end resume right -- */

/* -- scrolltop -- */
.scrolltop {
    position: fixed;
    right: 10px;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--side-left-background);
    border-radius: 5px;
    z-index: 10;
    transition: var(--transition-speed);
    visibility: hidden;
}
.scrolltop_icon {
    font-size: var(--normal);
    color: var(--text-color);
}

/* scrolltopjs */
.show-scroll {
    visibility: visible;
    bottom: 50px;
    transition: var(--transition-speed);
}
/* -- end scrolltop -- */

/* -- media queries -- */
/* mobile screen */
@media screen and (max-width: 498px) {
    .nav_list {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    .nav_menu {
        position: fixed;
        /* bottom: 20%; */
        left: 0;
        width: 100%;
        padding: 15px 10px;
        background-color: var(--body-background);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: -10;
        transition: var(--transition-speed);
    }

    /* in file js */
    .show-menu {
        top: 80%;
        transition: var(--transition-speed);
    }
    li.active-link a{
        color: var(--text-color);
    }
    .competences_content{
        font-size: var(--normal);
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
}

/* tablet screen */
@media screen and (max-width: 968px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 15px 10px;
        background-color: var(--body-background);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: -10;
        transition: var(--transition-speed);
    }
        /* in file js */
        .show-menu {
            top: 75%;
            transition: var(--transition-speed);
        }
        li.active-link a{
            color: var(--text-color);
        }
    .toggle-mode {
        position: absolute;
        top: -55px;
        right: 0;
        padding: 10px;
        display: flex;
        font-size: var(--normal);
        color: var(--text-color);
        cursor: pointer;
    }
    .toggle-mode:hover {
        color: var(--title-color);
    }
    .home_img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid var(--icon-color);
        justify-self: center;
        margin-top: -40px;
    }
}

/* dekstop screen */
@media screen and (min-width: 968px) {
    .container {
        max-width: 968px;
        width: calc(100%);
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 5px rgba(100, 100, 100, 0.1);
    }
    .header,
    .scrolltop {
        display: none;
    }
    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        justify-content: center;
        margin-left: -10px;
        top: 0;
        background-color: var(--side-right-background);
    }
    .resume_left {
        background-color: var(--side-left-background);
    }
    .generate-pdf {
        display: inline-block;
    }
    .home_container {
        gap: 5px;
    }
}
/* -- end media queries -- */
