/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* base */
/* variable */
:root {
    /* color */
    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --line-color: #929191;
    --side-right-background: #fafafa;
    --side-left-background: #f0efef;
    --body-background: #fcfcfc;
    --transition-speed: .5s ease;

    /* fonts*/
    --body-font: 'Poppins', sans-serif;
    --h1: 16px;
    --h2: 14px;
    --normal: 12px;
    --small: 10px;
}
*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 45px 0 45px 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal);
    background-color: var(--body-background);
    color: var(--text-color);
    transition: var(--transition-speed);
}


/* change theme light/dark */
/* dark mode */
body.dark-mode {
    /* color */
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --line-color: #707070;
    --side-right-background: #212121;
    --side-left-background: #181616;
    --body-background: #2b2b2b;
    --transition-speed: all .5s ease;
    
    /* fonts*/
    --body-font: 'Poppins', sans-serif;
    --h1: 16px;
    --h2: 14px;
    --normal: 12px;
    --small: 10px;
}
.toggle-mode {
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    color: var(--text-color);
    font-size: var(--h2);
    cursor: pointer;
}
.toggle-mode:hover {
    color: var(--title-color);
}
/* end mode */

/* pdf */
.generate-pdf {
    display: none;
    position: absolute;
    top: 5px;
    left: 0;
    font-size: var(--h2);
    color: var(--text-color);
    cursor: pointer;
}
.generate-pdf:hover {
    color: var(--title-color);
}
/* scale pdf */
.scale-cv .toggle-mode,
.scale-cv .generate-pdf {
    display: none !important;
}
/* end pdf */
/* end base */

/* header */
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-background);
    box-sizing: 0 -1px 5px rgba(0, 0, 0, .1);
    transform: all .3s ease;
    transition: var(--transition-speed);
}
/* end header */

/* nav */
.nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_logo span{
    color: var(--title-color);
    font-size: var(--normal);
}
.nav_logo,
.nav_toggle {
    color: var(--text-color);
}
.nav_toggle {
    font-size: var(--h2);
    cursor: pointer;
}
.nav_item {
    text-align: center;
}
.nav_list {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 15px;
}
.nav_link {
    display: flex;
    flex-direction: column;
    font-size: var(--normal);
    color: var(--line-color);
}
.nav_link:hover {
    color: var(--text-color);
}
.nav_icon {
    font-size: var(--h2);
    margin-bottom: 5px;
}

/* in file js */
.show-menu {
    top: 75%;
    transition: var(--transition-speed) !important;
}
li.active-link a{
    color: var(--text-color);
    font-weight: bold;
}
/* end nav */

/* class */
.container {
    max-width: 968px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}
/* end class */

/* main */
section {
    /* edit size padding if there adding content of cv */
    padding: 20.1px 5px; 
}
.section_title {
    font-size: var(--h2);
    color: var(--title-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* text-align: center; */
    text-align: initial;
    margin-bottom: 10px;
}
h1, h2, h3, ul, p, a {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
.grid {
    display: grid;
    gap: 10px;
}
/* end maint */

/* --- resume left --- */
.resume_left {
    margin: 0;
}
/* home */
.home {
    position: relative;
}
.home_container {
    gap: 15px;
}
.home_data {
    text-align: center;
}
.home_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .1);
    justify-self: center;
    margin: 5px;
}
.home_img_qrcode_wa {
    width: 110px;
    height: 110px;
    border-radius: 5px;
    justify-self: center;
    margin-bottom: 5px;
}
.home_title {
    font-size: var(--h1);
    font-weight: normal;
}
.home_title span{
    font-size: var(--h1);
    color: var(--title-color);
}
.home_profession {
    margin-top: -5px;
    font-size: var(--normal);
}
.home_address {
    gap: 10px;
}
.home_information {
    display: flex;
    align-items: center;
    font-size: var(--normal);
    color: var(--text-color);
}
.home_information .address_icon{
    margin-top: -20px;
}
.home_icon {
    font-size: var(--h2);
    margin-right: 5px;
    color: var(--title-color);
}

/* profiles */
.profiles_description{
    font-size: var(--normal);
}
/* end profiles */

/* educations */
.educations_time {
    padding-right: 15px;
} 
.educations_rounder {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--line-color);
}
.educations_line {
    display: block;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background-color: var(--line-color);
    transform: translate(7px, 0);
}
.educations_title {
    font-size: var(--normal);
    font-weight: bold;
    color: var(--title-color);
}
.educations_data {
    gap: 5px;
}
.educations_studies {
    font-size: var(--normal);
    color: var(--text-color);
}
.educations_year {
    font-size: var(--normal);
}
.educations_content{
    font-size: var(--normal);
    display: flex;
}
/* end educations */

/* languages */
.languages_content {
    font-size: var(--normal);
    grid-template-columns: repeat(2, 1fr);
}
.languages_content ul li p{
    margin-left: -5px;
}
.languages_content ul li p span{
    font-size: var(--small); 
    color : var(--line-color); 
}
.languages_name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.languages_name i{
    /* display: inline-block; */
    margin-right: 10px;
}
/* end languages */

/* interests */
.interests {
    margin-top : -5px
}
.interests_container {
    grid-template-columns: repeat(4, 1fr);
}
.interests_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    color: var(--text-color);
    font-size: var(--normal);
}
.interests_icon {
    font-size: var(--h2);
    color: var(--title-color);
}
/* end interests */
/* --- end resume left --- */

/* --- resume right --- */
.resume_right {
    margin: 0;
}
/* experiences */
.experiences_content {
    display: flex;
    font-size: var(--normal);
}
.experiences_time {
    padding-right: 15px;
}
.experiences_rounder {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--line-color);
}
.experiences_line {
    display: block;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background-color: var(--line-color);
    transform: translate(7px, 0);
}
.experiences_name i {
    margin-right: 10px;
}
.experiences_title {
    font-size: var(--normal);
    font-weight: bold;
    color: var(--title-color);
}
.experiences_data {
    gap: 5px;
}
.experiences_company {
    font-size: var(--normal);
    color: var(--text-color);
}
.experiences_project {
    font-size: var(--normal);
}
.experiences_name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.experiences_description {
    font-size: var(--normal);
}
/* end experiences */

/* competences */
.competences_name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.competences_name i {
    margin-right: 10px;
}
.competences_content{
    font-size: var(--normal);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.competences_content ul li p span {
    font-size: var(--small); 
    color : var(--line-color); 
}
/* end competences */

/* managements */
.managements_content{
    font-size: var(--normal);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.managements_name{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.managements_name i{
    display: inline-block;
    margin-right: 10px;
}
/* end managements */
/* --- end resume right --- */

/* scrolltop */
.scrolltop {
    position: fixed;
    right: 10px;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--side-left-background);
    border-radius: 5px;
    z-index: 10;
    transition: var(--transition-speed);
    visibility: hidden;
}
.scrolltop_icon {
    font-size: var(--h2);
    color: var(--text-color);
}
/* scrolltopjs */
.show-scroll {
    visibility: visible;
    bottom: 50px;
    transition: var(--transition-speed);
}



/* media queries */
/* mobile screen */
@media screen and (max-width: 320px) {
    .nav_list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .nav_menu {
        position: fixed;
        bottom: 40%;
        left: 0;
        width: 100%;
        padding: 15px 10px;
        background-color: var(--body-background);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: -10;
        transition: var(--transition-speed);
    }
    /* in file js */
    .show-menu {
        top: 70%;
        transition: var(--transition-speed);
    }
    li.active-link a{
        color: var(--text-color);
    }
}
/* tablet screen */
@media screen and (max-width: 968px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 15px 10px;
        background-color: var(--body-background);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: -10;
        transition: var(--transition-speed);
    }
    .toggle-mode {
        position: absolute;
        right: 5px;
        top: -25px;
        display: flex;
        color: var(--text-color);
        font-size: var(--h2);
        cursor: pointer;
    }
    .toggle-mode:hover {
        color: var(--title-color);
    }
}
/* dekstop screen */
@media screen and (min-width: 968px) {
    .container {
        max-width: 968px;
        width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 5px rgba(100, 100, 100, 0.1);
    }
    .header,
    .scrolltop {
        display: none !important;
    }
    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        justify-content: center;
        margin-left: -10px;
        top: 0;
        background-color: var(--side-right-background);
    }
    .resume_left {
        background-color: var(--side-left-background);
    }
    .resume_left,
    .resume_right {
        padding: 10px;
    }
    .generate-pdf {
        display: inline-block;
    }
    .home_container {
        gap: 15px;
    }
    .languages_content {
        font-size: var(--normal);
        grid-template-columns: repeat(2, 1fr);
    }
    .interests_container {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }
}
/* end media queries */
